<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %} {% endblock %}Petshop</title>

    <!-- Bootstrap core CSS -->
    <link href="/public/assets/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/public/assets/css/starter-template.css" rel="stylesheet">
  </head>

  <body>

    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      <a class="navbar-brand" href="#">Petshop</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item {% if app.request.attributes.get("_route") matches '/(.*)default(.*)/' %}active {% endif %}">
            <a class="nav-link" href="{{ path('default') }}">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item {% if app.request.attributes.get("_route") matches '/(.*)cliente(.*)/' %}active {% endif %}">
            <a class="nav-link" href="{{ path('listar_clientes') }}">Clientes</a>
          </li>
          <li class="nav-item {% if app.request.attributes.get("_route") matches '/(.*)anima(.*)/' %}active {% endif %}">
            <a class="nav-link" href="{{ path('listar_animais') }}">Animais</a>
          </li>
        </ul>
      </div>
    </nav>

    <main role="main" class="container">

      {% block body %}

      {% endblock %}

    </main><!-- /.container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="/public/assets/js/bootstrap.min.js"></script>
  </body>
</html>
